.about-whatsapp{
    margin-top: 51px;
    @media#{$mobile}{
        margin-top: 36px;
    }
    &__start{
        display: flex;
        align-items: center;
        padding: 23px 60px;
        border-radius: 24px;
        background: linear-gradient(88deg, #DCE4C9 0%, #F0F5E3 54.28%, #DCE4C9 99.6%);
        gap:0 60px;
        @media#{$tab}{
            flex-direction: column;
            align-items: center;
        }
        @media#{$mobile}{
            padding: 24px 16px;
        }
        &--right{
            @media#{$mobile}{
                margin-top: 11px;
            }
            .about-title{
                @media#{$tab}{
                    text-align: center;
                }
            }
            .right-main{
                display: flex;
                align-items: center;
                gap:0 24px;
                margin-top: 8px;
                @media#{$bigTab}{
                    flex-direction: column;
                    gap:24px 0;
                }
                @media#{$mobile}{
                    gap:8px;
                }
                p{
                    color:#374955;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                    @media#{$mobile}{
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
                a{
                    display: flex;
                    min-width: 194px !important;
                    min-height: 41px !important;
                    padding: 6px 12px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background-color:#374955;
                    text-decoration: none;
                    color:#FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    transition: .3s all ease;
                    &:hover{
                        background-color: #495a66;
                    }
                    @media#{$bigTab}{
                        width: 100%;
                    }
                }
            }
        }
    }
}