footer {
    margin-top: -6px;
    padding: 40px 0 24px 0;
    background: #F5F5DC;
    @media#{$mobile}{
        padding: 24px 0;
    }

    .footer {
        text-align: center;
        &__nav {
            font-size: 18px;
            font-weight: 600;
            display: flex;
            gap: 0 32px;
            list-style: none;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            @media#{$mobile}{
                gap:7px 0;
            }
            a{
                color:#374955;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 23px;
                text-decoration: none;
                transition: .3s all ease;
                &:hover{
                    color: #E07B39;
                }
            }

            @media #{$tab} {
                flex-direction: column;
                text-align: center;
            }
        }

        &__contak {
            display: flex;
            list-style: none;
            justify-content: center;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            align-items: center;
            gap: 0 24px;
            flex-wrap: wrap;
            margin-top: 14px;
            @media#{$mobile}{
                gap:8px 16px;
            }
           li{
            &:last-child{
                a{
                    border-bottom: 1px dashed #374955;
                }
            }
            &:last-child{

                @media #{$tab} {
                    order: 2;
                }
            }
            a{
                color:#374955;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 23px;
                text-decoration: none;
                transition: .3s all ease;
                display: block;
                @media#{$mobile}{
                    color:#374955;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                }
                &:hover{
                    color: #E07B39;
                    border-color: #E07B39;
                }
            }
           }
        }
    }

}
.footer__dark {
    background-color: #374955;

    &--start{
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        color: #fff;
        @media #{$tab} {
            flex-direction: column;
            text-align: center;
        }
        @media#{$mobile}{
            gap:6px 0;
        }
    }
    

    &--contak {
        display: flex;
        gap: 0 24px;
        list-style: none;
        @media #{$tab} {
            text-align: center;
            justify-content: center;
        }
    }

    &--data {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        @media #{$tab} {
            text-align: center;
        }
        @media#{$mobile}{
            color:#FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }
    }
}