$bigLaptop: "(max-width: 1620px)";
$leptop: "(max-width: 1440px)";
$smallLaptop: "(max-width: 1280px)";
$bigTab: "(max-width: 1024px)";
$tab: "(max-width: 768px)";
$mobile: "(max-width: 512px)";
$smallMobile: "(max-width: 375px)";